APP_NAME="Chitrakar AI Platform"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=chitrakar_api
DB_USERNAME=postgres
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=localhost
WEBHOOK_SECRET=dev-webhook-secret
MAIL_MAILER=log
SANCTUM_EXPIRATION=10080
